.formcontainer {
  width: 40%;
  height: 70vh;
  background-color: #f9fafc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 45px;
}
.formprev {
  background-color: #f9fafc;
  width: 40%;
  height: 76vh;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: grey;
}
.formpreview {
  background-color: #f9fafc;
  width: 40%;
  height: 76vh;
}
.formcontainer h2 {
  text-align: center;
  color: grey;
}
.preview {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.preview img {
  border-radius: 8px;
  object-fit: cover;
  /* width: 50%;
  height: 50%; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding-bottom: 20px;

  padding: 10px;
  align-items: center;
}
.form input {
  width: 80%;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}
.form button {
  width: 20%;
  height: 50px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  align-self: flex-start;
  margin-top: -8px;
  margin-left: 2px;
}

.resumecontainer {
  display: flex;
  gap: 40px;
  margin-left: 80px;
  width: 100%;
}
.mainsite {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  /* justify-content: center; */
  /* transform: translate(-50%, -50%); */
}
.tablebody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.tablebody h2 {
  font-weight: 500;
  font-size: 25px;
}
.tablebody h3 {
  font-weight: 500;
  font-size: 25px;
}

.tablecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
}

.table {
  width: 81%;
  border-collapse: collapse;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  margin-left: 6%;
  margin-top: 80px;
  margin-bottom: 30px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  /* padding: 10px; */
  text-align: center;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}
.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.btnshow {
  background-color: #487ed9;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 8px;
  margin-right: 5px;
}
.btndel {
  background-color: #f44144;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 8px;
}
.error {
  color: red;
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-left: 10px;
}

.btndwn {
  background-color: #487ed9;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
  width: 12% !important ;
  height: 40px !important ;
  margin-left: -15%;
  margin-top: -50px;
}

.pdf-container {
  width: 210mm; /* A4 en */
  min-height: 297mm; /* A4 uzunluq */
  padding: 20mm; /* Kenarlardan boşluq */
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pdf-container p {
  text-align: center;
}
